*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background: #081d31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: #081d31;
    cursor: pointer;
    box-shadow: 1px 15px 20px rgb(131, 22, 124);
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,
#comp-score{
    font-size: 3rem;
}
#msg{
    background-color: #081d31;
    color: #fff;
    margin-top: 5rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 3rem;
}